.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 110px);
}

h1{
    font-size:60px;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {
    h1 {
      font-size: 40px; 
    }
  }