.user-png{
    height: 45px;
    width: 45px;
}

.list-items{
    width: 100px;
    padding: 5px 0;
    font-weight: 600;
}

.btn-success a{
    color: #f0f8ff!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
